@charset "UTF-8";
@keyframes rotation-infinie {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotation-infinie-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes grow-shrink {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
}
@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
    /* Move up by 20px */
  }
  100% {
    transform: translateY(0);
  }
}
.header {
  position: fixed;
  z-index: 3;
  font-size: 0.813rem;
  color: white;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 50px 7px 0;
}
.header__links {
  transition: color 1s ease;
  /* Transition douce de la couleur */
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.footer__link, .footer__text {
  text-align: center;
}

.hero {
  background: radial-gradient(circle, #f52571 0%, #f48196 30%, #F37F29 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 24px 50px;
}
.hero__title {
  text-align: center;
  margin: auto;
  font-size: 1.5rem;
  color: white;
  text-shadow: 0 0 4px #FFFFFF, 0 0 0.5px #FFFFFF, 0 0 0.5px #FFFFFF, 0 0 0.5px #FFFFFF;
  /* Ombre la plus étendue */
}
.hero__title--bigger {
  display: inline-block;
  animation: grow-shrink 2s ease-in-out infinite;
}
.hero__title--turn {
  animation: rotation-infinie 2s linear infinite;
  display: inline-block;
  margin: 0;
}
.hero__title--turn2 {
  animation: rotation-infinie-reverse 2s linear infinite;
  display: inline-block;
  margin: 0;
}

.analogies__container {
  padding-top: 100px;
  text-align: center;
  overflow: hidden;
}
.analogies__container:last-child {
  padding-bottom: 10px;
}
.analogies__title {
  font-size: 1.2rem;
}
.analogies__title--mobile {
  padding: 0 5px;
}
.analogies__text {
  font-family: "DM sans", sans-serif;
  text-transform: none;
  font-size: 1rem;
  padding: 0 10px;
}
.analogies__img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.analogies__title--desk {
  display: none;
}
.analogies__image-container {
  position: relative;
}
.analogies__overlay {
  position: absolute;
  background-color: #F9D5E3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.form-section {
  margin: 120px 7px 50px !important;
}
.form-section__box {
  display: flex;
}
.form-section__results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(245, 37, 113, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(245, 37, 113, 0.3);
  padding: 1rem;
}
.form-section__title {
  text-align: center;
}
.form-section__input {
  background-color: rgb(242, 240, 240);
  border: solid 1px white;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin-top: 5px;
  text-transform: lowercase;
  font-family: "DM sans", sans-serif;
}
.form-section__submit {
  text-align: center;
  width: fit-content;
  margin: 10px auto 0;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  border: solid 1px #f52571;
  transition: background-color 0.3s ease-in-out;
}
.form-section__submit:hover {
  cursor: pointer;
  background-color: #bffc63;
  border-color: #bffc63;
}

@media (min-width: 700px) and (max-width: 1000px) {
  .analogies__container {
    gap: 5px;
  }
  .analogies__img {
    width: 400px;
  }
}
@media (min-width: 700px) {
  .header,
  .hero,
  .analogies,
  .footer {
    padding: 24px 24px;
  }
  .analogies__container:first-child {
    padding-top: 130px;
  }
  .analogies__container:last-child {
    padding-bottom: 50px;
  }
  .analogies__container {
    padding-bottom: 200px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
  }
  .analogies__title--mobile {
    display: none;
  }
  .analogies__title--desk {
    display: block;
  }
  .analogies__title {
    font-size: 1.1875rem;
    width: 300px;
  }
  .analogies__text {
    font-size: 0.813rem;
    width: 300px;
    padding: 0;
  }
  .analogies__img {
    aspect-ratio: 641/546;
    transition: 1s ease-in-out;
    overflow-x: hidden;
  }
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__link, .footer__text {
    text-align: left;
  }
  .form-section {
    margin-top: 50px;
  }
}
@media (min-width: 1001px) {
  .analogies__container {
    gap: 10px;
  }
  .analogies img {
    width: 700px;
    /* Taille minimale */
  }
}
@font-face {
  font-family: "akira";
  src: url("../fonts/akira.woff2") format("woff2"), url("../fonts/akira.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Pour la barre de défilement */
::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  text-transform: uppercase;
  font-family: "akira", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  color: #F52571;
  background-color: #F9D5E3;
}

::selection {
  background-color: greenyellow; /* Remplacez par la couleur de votre choix */
}

a {
  text-decoration: none;
  color: inherit;
}

/*# sourceMappingURL=index.css.map */
